body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f5f5f5;
    color: #333;
    margin: 0;
    padding: 20px;
}
h1{
    text-align: center;
    margin-bottom: 20px;
}
select{
    padding: 10px;
    border: 1px; 
    border-radius: 5px;
    background-color: #fff;
    color: #333;
}
button{
padding: 10px 15px;
margin: 10px 0;
border: none;
background-color: bisque;
cursor: pointer;
}
button:hover{
    background-color: beige;
}
.immagine{
    align-items: center;
}